/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@font-face {
	font-family: 'Press Start 2P';
	src:url("./PS2P.ttf");
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html, body {
  position:relative;
  overflow:hidden;
}
body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #23292C;
    color: white;
    margin: 0;
	font-family: Helvetica, Arial;
}

/* Portrait layout (default) */

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}
.star {
	position: absolute;
	z-index: -1;
	opacity: 0.3;
	width: 2000px;
	min-height: 2000px;
	height: 100%;
	left: calc(50% - 1000px);
	top: 0;
	transform-origin: center;
	background: url("../img/stars.svg") center/800px auto repeat;
	animation: 300s rotate360 infinite linear
}
.stars {
	position: absolute;
	z-index: -1;
	opacity: 0.3;
	width: 2000px;
	min-height: 2000px;
	height: 100%;
	left: calc(50% - 1000px);
	top: 0;
	transform-origin: center;
	background: url("../img/stars-sm.svg") center/800px auto repeat;
	animation: 1000s rotate360 infinite linear
}
.shooting-stars {
	position: absolute;
	left: 10%;
	top: 10%;
	transform: rotate(30deg);
	pointer-events: none
}
.shooting-stars img {
	opacity: 0;
	animation-delay: 0;
	animation: shooting-star 6s infinite ease-out
}
.play {
    width: 100px;
    height: 100px;
}
.calcul {
	position: absolute;
	top: 25vh;
	margin: 0 auto;
	width: 100px;
	font-size: 2em;
	text-align: center;
}
.back {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	left: 20px;
}
.score {
	font-family: 'Press Start 2P', cursive;
	position: absolute;
	top: 20px;
	right: 20px;
	color:transparent;
	background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	-webkit-background-clip: text;
}
.settings {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 20px;
	left: 20px;
}
input {
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    background: transparent;
    border: 3px solid white;
    border-radius: 5px;
}


@keyframes rotate360 {
	to {
		transform: rotateZ(360deg)
	}
}
@keyframes shooting-star {
	0% {
		opacity: 1;
		transform: scale(0) translate3d(0, 0, 0)
	}

	15% {
		opacity: 1
	}

	25% {
		opacity: 0;
		transform: scale(1) translate3d(180px, 0, 0)
	}

	100% {
		opacity: 0;
		transform: scale(0) translate3d(180px, 0, 0)
	}
}
